#middleScreen {
  position: fixed;
  top: 30%;
}

body {
  background-image: url("./assets/bg.png");
  background-size: cover;
}

#header {
  position: fixed;
  width: 3em;
  height: 3em;
  left: 30px;
}

img #song {
  width: 60%;
  height: 60%;
}

#songlist {
  margin-top: 70px;
  margin-left: 75px;
}

#song {
  margin-bottom: 17px;
}

#bottomMiddleButtons {
  position: fixed;
  bottom: 5px;
  left:50%;
}

.buttons {
  margin-left: -25px;
}

.buttons a {
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-right: 10px;
  width: 3em;
  height: 3em;
}

.buttons a:hover {
  transition-duration: 95ms;
  box-shadow: 0 0 10px #ffffff;
}

p {
  color: white;
}
